<form (ngSubmit)="onSubmit(termForm)" #termForm="ngForm">
  <div>
    <label class="form__label" for="termName">Name 
        <span [hidden]="(submitted && termName.valid) || 
                        !submitted && (termName.valid || termName.pristine)"
        class="alert alert-danger">is required</span>
    </label>
    <input class="form__text" type="text" id="termName"
           required
           [(ngModel)]="newTerm.name" name="termName"
           #termName="ngModel">
  </div>

  <div>
    <label class="form__label" for="description">Description
        <span [hidden]="(submitted && description.valid) || 
                        !submitted && (description.valid || description.pristine)"
        class="alert alert-danger">is required</span>

    </label>
    <textarea style="resize: none;" class="form__text" id="description"
           required
           [(ngModel)]="newTerm.description" name="description"
           #description="ngModel"></textarea>
  </div> 

  <button type="submit" class="btn btn-success">Add Term</button>
</form>