<form (ngSubmit)="openDialog(userForm)" #userForm="ngForm">
    <div>
      <label class="form__label" for="email">Email
        <span [hidden]="(userForm.submitted && email.valid) || 
                        !userForm.submitted && (email.valid || email.pristine)"
        class="alert alert-danger">is required</span>
      </label>
      <input class="form__text" type="email" id="email"
             required
             [(ngModel)]="userEmail" name="email"
             #email="ngModel">
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<a routerLink="/reset-password" class="link light-blue">Reset password</a>