
<p>Don't have an account yet?</p>
    <form (ngSubmit)="signup()" #registerForm="ngForm">
      <div>
        <label class="form__label" for="emailRegister">Email
          <span [hidden]="(registerForm.submitted && email.valid) || 
                          !registerForm.submitted && (email.valid || email.pristine)"
          class="alert alert-danger">is required</span>
        </label>
        <input class="form__text" type="email" id="emailResgister"
              required
              [(ngModel)]="userEmailRegister" name="emailRegister"
              #email="ngModel">
      </div>

      <div>
        <label class="form__label" for="passwordRegister">Password
          <span [hidden]="(registerForm.submitted && password.valid) || 
                          !registerForm.submitted && (password.valid || password.pristine)"
          class="alert alert-danger">is required</span>
        </label>
        <input class="form__text" type="password" id="passwordRegister"
              required
              [(ngModel)]="userPasswordRegister" name="passwordRegister"
              #password="ngModel">
      </div>

      <button type="submit" class="btn btn-success">Register</button>
    </form>
 