.nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    &__logo{
        background-image: url('../../assets/icons/logo-reversed.svg');
        background-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    }
    &__items{
        display: inline-block;
        margin: 0;
        padding: 0; 
        align-self: center;
        border-radius: 5px;
    }
    &__item{
        display: inline-block;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        vertical-align: middle;
        padding: 0.5rem;
        border-radius: 5px;
        
        &:hover{
            background-color: rgba(17, 128, 168, 0.45);
        }
    }
}

.icon{
    &__hamburger{
        background-image: url('../../assets/icons/hamburger.svg');
        background-size: 1.5rem 0.75rem;
        height: 0.75rem;
        width: 1.5rem;
        align-self: center;
        display: inline-block;
        cursor: pointer;
    }
    &__user{
        background-image: url('../../assets/icons/user.svg');
        background-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        display: inline-block;
    }
}

.mobile{
    @media (min-width: 901px){
        display: none;
    }
}
.desktop{
    @media (max-width: 900px){
        display: none;
    }
}


    .header-container{
        margin-bottom: 2rem;
        @media (max-width: 2200px){
            margin-bottom: 5rem;
        }
        @media (max-width: 900px){
            margin-bottom: 3rem;
        }
        width: 100%;
        position: relative;
        background: rgb(23,132,170); /* Old browsers */
        background: -moz-linear-gradient(to right, rgb(17, 128, 168) 0%, rgb(73, 163, 212) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(to right, rgb(17, 128, 168) 0%, rgb(73, 163, 212) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgb(17, 128, 168) 0%, rgb(73, 163, 212) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1180a8', endColorstr='#49a3d4 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }

      .header-container::after{
        content: '';
        width: 100%;
        // height: 5rem;
        height: 20rem;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: right bottom;
        @media (max-width: 2200px){
            transform: skewY(-2deg);
            // transform: skewY(-14deg);
        }
        
      }

      
