@import '../../../sass/colours';

.result{
    &__name{
        color: $colour-black;
        font-family: 'Roboto';
        word-break: break-word;
    }
    &__description{
        color: $colour-grey;   
        font-family: 'Roboto';
        word-break: break-word;
    }
}

.form__text{
    width: 60%;
    @media (max-width: 900px){
        width: 100%;
    }

}