/*setting colour palette for angular mat components*/
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-warn);
@include angular-material-theme($my-app-theme);

@import "./sass/colours";
@import "./sass/links";
@import "./sass/form";
@import "./sass/card";


*{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @media (max-width: 900px){
        font-size: 1.2em;
    }
}
input{
    @media (max-width: 900px){
        font-size: 1rem;
    }
}
.mat-tab-label{
    color: $colour-black;
    opacity: 1 !important;
    @media (max-width: 900px){
        font-size: 1rem;
    } 
}
.success{
    background-color: $colour-success;
} 
.error{
    background-color: $colour-warn;
}
h1, h2, h3{
    font-family: 'rubik';
}
p{
    font-family: 'roboto';
    color: $colour-grey;
    line-height: 1.4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.component-wrapper{
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        margin: 0 auto;
        padding: 1rem;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-around;
}